<p>like:<%= event_count_likes(@event)%></p>
<% if like %>
	<%= link_to 'unlike' , event_like_path(@event,like), :method => :delete, :remote=>true, :class=>"btn btn-danger"%>
<% else %>
	<%= link_to 'like' , event_likes_path(@event), :method => :post, :remote=>true, :class=>"btn btn-primary"%>
<% end %>