<%= @event.name %>
<%= simple_format(@event.description) %>

<p>
<%#= link_to 'Back to index', :controller => 'events', :action => 'index' %>
<!-- target to index.html, use events_path -->
<%= link_to 'Back to index', events_path %>
</p>